Base64URL support

### What feature or new tool do you think should be added to DevToys?

[Base64URL](https://base64.guru/standards/base64url) is a modification of the [main](https://base64.guru/standards/main) Base64 standard, the purpose of which is the ability to use the encoding result as filename or URL address. 

### Why do you think this is needed?

The Base64URL is described in RFC 4648 § 5, where it is mentioned that the standard [Base64 alphabet](https://base64.guru/learn/base64-characters) contains invalid characters for URLs and filenames.

### Solution/Idea

N/A

### Comments

_No response_